<div class="modal-content">
    <div class="modal-header bg-primary">
        <i class="ion-information-circled modal-icon"></i><span> Thông Tin Đơn Hàng Số {{detailCtrl.bolInformation.BolCode}}</span>
    </div>
    <div class="modal-body text-center">
        <div class="wrapper">
            <!-- Main content -->
            <section class="invoice" id="print-content">
                <!-- title row -->
                <div class="col-xs-12">
                    <!--<qr-scanner width="50" height="50" ng-success="bolConfirm.onSuccess(bolConfirm.link)" ng-error="bolConfirm.onError(error)" />-->

                    <!--<qr class="pull-right" correction-level="'M'" size="50" text="bolConfirm.link"></qr>-->
                    <!--<qrcode data="bolConfirm.link" href="bolConfirm.link"></qrcode>-->
                </div>
                <div class="row">

                    <div class="col-xs-12">
                        <h2 class="page-header">
                            <!-- <small class="pull-right">Nơi tạo: {detailCtrl.bolInformation.BolFromName}}, ngày: {detailCtrl.bolInformation.SendDate}}</small>  -->
                            <div style="display: block">
                                <img src="assets/logo/ntl_logo.png" style="width: 300px; margin-left:30px">
                            </div>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info col-sm-12">
                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Gửi Từ</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Người Gửi: </strong>{{detailCtrl.bolInformation.Customers[0].Phone == detailCtrl.bolInformation.Contact ? detailCtrl.bolInformation.Customers[0].Name: detailCtrl.bolInformation.Customers[1].Name}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Số Điện Thoại: </strong>{{detailCtrl.bolInformation.Customers[0].Phone == detailCtrl.bolInformation.Contact ? detailCtrl.bolInformation.Customers[0].Phone: detailCtrl.bolInformation.Customers[1].Phone}}<br>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Gửi Đến</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Người Nhận: </strong>{{detailCtrl.bolInformation.Customers[1].Phone !== detailCtrl.bolInformation.Contact ? detailCtrl.bolInformation.Customers[1].Name: detailCtrl.bolInformation.Customers[0].Name}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Số Điện Thoại: </strong>{{detailCtrl.bolInformation.Customers[1].Phone !== detailCtrl.bolInformation.Contact ? detailCtrl.bolInformation.Customers[1].Phone: detailCtrl.bolInformation.Customers[0].Phone}}<br>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->

                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height" style="height: 300px">
                            <div class="panel-heading  text-center"><strong>Thông Tin Đơn Hàng</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Đơn Hàng Số</strong>
                                </div>
                                <div class="text-left">
                                    {{detailCtrl.bolInformation.BolCode}}
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Dịch Vụ Giao Nhận: </strong>
                                </div>
                                <div class="text-left">
                                    {{detailCtrl.bolInformation.DeliveryType1.Name}}
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Gửi Đến: </strong> {{detailCtrl.bolInformation.Branches[0].Id == detailCtrl.bolInformation.Start? detailCtrl.bolInformation.Branches[0].Address:detailCtrl.bolInformation.Branches[1].Address}}

                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Ngày Gửi: </strong> {{detailCtrl.bolInformation.CreatedDate | date:'dd/MM/yyyy'}}

                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Ngày Nhận: </strong>{{detailCtrl.bolInformation.ReceiveDate | date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height" style="height: 300px">
                            <div class="panel-heading  text-center"><strong>Thông Tin Bổ Sung</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Đảm Bảo: </strong> {{detailCtrl.bolInformation.IsGuarantee == false? 'Không': 'Có'}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Thu Hộ: </strong>{{detailCtrl.bolInformation.CollectInBehalf =="" ? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.CollectInBehalf}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Khấu Trừ: </strong>{{detailCtrl.bolInformation.IsDiscount == false? 'Không' : 'Có'}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Giờ Giao (nếu có): </strong>{{detailCtrl.bolInformation.ReceiveTime ==""? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveTime }}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Địa Chỉ Giao (nếu có): </strong>
                                </div>
                                <div class="text-left">
                                    {{detailCtrl.bolInformation.SendAddress ==""? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendAddress}}
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Trạng Thái Đơn Hàng: </strong>
                                </div>
                                <div class="text-left">
                                    {{detailCtrl.bolInformation.Status.StatusName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Mã HH</th>
                                    <th class="text-center">Loại Hàng</th>
                                    <th class="text-center">Số Lượng</th>
                                    <!--<th>ĐVT</th>-->
                                    <th class="text-center">Khối Lượng</th>
                                    <th class="text-center">Ghi Chú</th>
                                    <th class="text-right">Thành Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{detailCtrl.bolInformation.BolCode}}</td>
                                    <td>{{detailCtrl.bolInformation.MerchandiseType1.Description}}</td>
                                    <td>{{detailCtrl.bolInformation.Quantity}}</td>
                                    <td>{{detailCtrl.bolInformation.Weight}}</td>
                                    <td>{{detailCtrl.bolInformation.Description}}</td>
                                    <td>{{detailCtrl.bolInformation.Total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6 pull-right">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:66%">Cước Vận Chuyển: </th>
                                    <td class="text-right" style="border-top:none">{{detailCtrl.bolInformation.DeliveryPrice}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Phụ Phí: </th>
                                    <td class="text-right" style="border-top:none">{{detailCtrl.bolInformation.AdditionalFee}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Tổng Cộng:</th>
                                    <td class="text-right" style="border-top:none">{{detailCtrl.bolInformation.Total}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Trả Trước:</th>
                                    <td class="text-right" style="border-top:none">{{detailCtrl.bolInformation.Prepaid}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Còn Lại:</th>
                                    <td class="text-right" style="border-top:none">{{detailCtrl.bolInformation.Liabilities}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- ./wrapper -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-primary" ng-click="bolConfirm.printInvoice()"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
 Tạo</button>
        <button class="btn btn-lg btn-primary" ng-click="bolConfirm.printInvoice()"><i class="fa fa-print fa-lg"></i> In và Tạo</button>
    </div>

</div>