<div class="modal-content">
    <div class="modal-header bg-primary">
        <i class="ion-information-circled modal-icon"></i><span> Xác Nhận Đơn Hàng Số {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolCode}}</span>
    </div>
    <div class="modal-body text-center">
        <div class="wrapper">
            <!-- Main content -->
            <section class="invoice" id="print-content">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header">
                            <small class="pull-right">Nơi tạo: {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolFromName}}, ngày: {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendDate}}</small>
                            <div style="display: block">
                                <img src="assets/logo/ntl_logo.png" style="width: 300px; margin-left:265px">
                            </div>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info col-sm-12">
                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Gửi Từ</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Người Gửi: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.SenderName}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Số Điện Thoại: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.SenderPhone}}<br>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Gửi Đến</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Người Nhận: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.ReceiverName}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Số Điện Thoại: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.ReceiverPhone}}<br>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->

                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height" style="height: 300px">
                            <div class="panel-heading  text-center"><strong>Thông Tin Đơn Hàng</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Đơn Hàng Số</strong>
                                </div>
                                <div class="text-left">
                                    {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolCode}}
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Dịch Vụ Giao Nhận: </strong>
                                </div>
                                <div class="text-left">
                                    {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.DeliveryName}}
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Gửi Đến: </strong> {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolToName}}

                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Ngày Gửi: </strong> {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendDate}}

                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Ngày Nhận: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height" style="height: 300px">
                            <div class="panel-heading  text-center"><strong>Thông Tin Bổ Sung</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Đảm Bảo: </strong> {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.IsGuarantee == false? 'Không': 'Có'}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Thu Hộ: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.CollectInBehalf =="" ? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.CollectInBehalf}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Khấu Trừ: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.IsDiscount == false? 'Không' : 'Có'}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Giờ Giao (nếu có): </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveTime ==""? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveTime}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Địa Chỉ Giao (nếu có): </strong>
                                </div>
                                <div class="text-left">
                                    {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendAddress ==""? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendAddress}}
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Trạng Thái Đơn Hàng: </strong>
                                </div>
                                <div class="text-left">
                                    {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.StatusName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Mã HH</th>
                                    <th class="text-center">Loại Hàng</th>
                                    <th class="text-center">Số Lượng</th>
                                    <!--<th>ĐVT</th>-->
                                    <th class="text-center">Khối Lượng</th>
                                    <th class="text-center">Ghi Chú</th>
                                    <th class="text-right">Thành Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolCode}}</td>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.MerchandiseName}}</td>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Quantity}}</td>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Weight}}</td>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Description}}</td>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SubTotal}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6 pull-right">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:66%">Cước Vận Chuyển: </th>
                                    <td class="text-right" style="border-top:none">{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.DeliveryPrice}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Phụ Phí: </th>
                                    <td class="text-right" style="border-top:none">{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.AdditionalFee}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Tổng Cộng:</th>
                                    <td class="text-right" style="border-top:none">{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Total}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Trả Trước:</th>
                                    <td class="text-right" style="border-top:none">{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Prepaid}}</td>
                                </tr>
                                <tr>
                                    <th style="width:66%">Còn Lại:</th>
                                    <td class="text-right" style="border-top:none">{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Liabilities}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-xs-6 pull-left">
                        <div class="panel panel-default height">
                            <div class="panel-heading  text-center"><strong>Nhân Viên Ký Tên</strong></div>
                            <div class="panel-body" style="height: 200px">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 pull-right">
                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Khách Hàng Ký Tên</strong></div>
                            <div class="panel-body" style="height: 200px">

                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
            </div>
            <!-- ./wrapper -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-primary" ng-click="bolConfirm.printInvoice()"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
 Tạo</button>
            <button class="btn btn-lg btn-primary" ng-click="bolConfirm.printInvoice()"><i class="fa fa-print fa-lg"></i> In và Tạo</button>
        </div>

    </div>