<div class="modal-content">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span> Xác Nhận Đơn Hàng Số {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolCode}}</span>
    </div>
    <div class="modal-body text-center">
        <div class="wrapper">
            <!-- Main content -->
            <section class="invoice" id="print-content">
                <!-- title row -->
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header">
                            <i class="fa fa-globe"></i> Ngọc Trang Tiêu Cục
                            <small class="pull-right">Ngày: {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendDate}}</small>
                        </h2>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info col-sm-12">
                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Gửi Từ</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Người Gửi: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.SenderName}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Số Điện Thoại: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.SenderPhone}}<br>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Gửi Từ</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Người Nhận: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.ReceiverName}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Số Điện Thoại: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.ReceiverPhone}}<br>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->

                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height" style="height: 300px">
                            <div class="panel-heading  text-center"><strong>Thông Tin Đơn Hàng</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Đơn Hàng Số</strong>
                                </div>
                                <br>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.BolCode}}
                                <br>
                                <br>
                                <div class="text-left">
                                    <strong>Gửi Đến: </strong>{{bolConfirm.transactionVM.TransactionVM.CustomerInfo.BolToId}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Ngày Tạo: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendDate}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Dịch Vụ Giao Nhận: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.DeliveryType.Id}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Ngày Nhận: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveDate}}<br>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <div class="panel panel-default height" style="height: 300px">
                            <div class="panel-heading  text-center"><strong>Thông Tin Bổ Sung</strong></div>
                            <div class="panel-body">
                                <div class="text-left">
                                    <strong>Đảm Bảo: </strong> {{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.IsGuarantee == false? 'Không': 'Có'}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Thu Hộ: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.CollectInBehalf =="" ? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.CollectInBehalf}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Khấu Trừ: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.IsDiscount == false? 'Không' : 'Có'}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Giờ Giao (nếu có): </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveTime ==""? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.ReceiveTime}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Địa Chỉ Giao (nếu có): </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendAddress ==""? 'Không': bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.SendAddress}}<br>
                                </div>
                                <br>
                                <div class="text-left">
                                    <strong>Trạng Thái Đơn Hàng: </strong>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.StatusCode}}<br>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Mã HH</th>
                                    <th>Loại Hàng</th>
                                    <th>Số Lượng</th>
                                    <th>ĐVT</th>
                                    <th>Khối Lượng</th>
                                    <th>Ghi Chú</th>
                                    <th>Thành Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="merchandise in bolConfirm.transactionVM.TransactionVM.MerchandiseInfo">
                                    <td>{{merchandise.Id}}</td>
                                    <td>{{merchandise.MerchandiseTypeId}}</td>
                                    <td>{{merchandise.Quantity}}</td>
                                    <td>Cái</td>
                                    <td>{{merchandise.Weight}}</td>
                                    <td>{{merchandise.Description}}</td>
                                    <td>{{merchandise.SubTotal | currency : "" : 0}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6 pull-right">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Tổng Cộng:</th>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Total | currency : "" : 0}}</td>
                                </tr>
                                <tr>
                                    <th>Cước Vận Chuyển: </th>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.DeliveryType.Id == 2 || bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.DeliveryType.Id == 3? bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.AdditionalFee
                                        : ""}}</td>
                                </tr>
                                <tr>
                                    <th>Trả Trước:</th>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Prepaid}}</td>
                                </tr>
                                <tr>
                                    <th>Còn Lại:</th>
                                    <td>{{bolConfirm.transactionVM.TransactionVM.BillOfLandingInfo.Liabilities | currency : "" : 0}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-xs-6 pull-left">
                        <div class="panel panel-default height">
                            <div class="panel-heading  text-center"><strong>Nhân Viên Ký Tên</strong></div>
                            <div class="panel-body" style="height: 200px">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 pull-right">
                        <div class="panel panel-default height">
                            <div class="panel-heading text-center"><strong>Khách Hàng Ký Tên</strong></div>
                            <div class="panel-body" style="height: 200px">

                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
            </div>
            <!-- ./wrapper -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-primary" ng-click="bolConfirm.printInvoice()">In</button>
        </div>

    </div>