<div class="modal-content">
    <div class="modal-header bg-danger">
        <i class="ion-flame modal-icon"></i><span> Thất Bại</span>
    </div>
    <div class="modal-body text-center">
        <p>
            <h4>Đảm bảo có ít nhất một mặt hàng trong hệ thống.</h4>
        </p>
        <h4>Vui lòng kiểm tra hoặc liên hệ quản trị viên.</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="DestinationController.cancel()">Trở Về</button>
    </div>
</div>