<!-- start form bill of landing review -->
<div class="row" id="print-area">
    <div class="col-md-12">
        <div class="form-group">
            <!-- start bill of landing information -->
            <div class="row">
                <div class="col-md-12">
                    <!-- start title -->
                    <div class="text-center">
                        <img ng-src="assets/img/ntl_logo.png " class="pull-left " id="logo "></img>
                        <h2>Thông tin đơn hàng số {{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.bolCode}}</h2>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- start customer infomation -->
                        <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                            <!-- start sender information -->
                            <div class="panel panel-default height">
                                <!-- heading -->
                                <div class="panel-heading">
                                    <h2>Thông Tin Người gửi</h2>
                                </div>
                                <!-- body -->
                                <div class="panel-body">
                                    <strong>Người Gửi: </strong>{{bolReview.transactionVM.TransactionVM.CustomerInfo.senderName}}
                                    <br>
                                    <br>
                                    <strong>Số Điện Thoại: </strong>{{bolReview.transactionVM.TransactionVM.CustomerInfo.senderPhone}}
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <!-- end sender information -->
                            <!-- start receiver information -->
                            <div class="panel panel-default height">
                                <!-- heading -->
                                <div class="panel-heading ">
                                    <h2>Thông Tin Người nhận</h2>
                                </div>
                                <!-- body -->
                                <div class="panel-body ">
                                    <strong>Người Nhận: </strong>{{bolReview.transactionVM.TransactionVM.CustomerInfo.receiverName}}
                                    <br>
                                    <br>
                                    <strong>Số Điện Thoại: </strong>{{bolReview.transactionVM.TransactionVM.CustomerInfo.receiverPhone}}
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- end receiver information -->
                        <div class="col-xs-12 col-md-8 col-lg-8">
                            <!-- start general information -->
                            <div class="panel panel-default height">
                                <!-- heading -->
                                <div class="panel-heading">
                                    <h2>Thông tin chung</h2>
                                </div>
                                <!-- body -->
                                <div class="panel-body">
                                    <strong>Ngày Gửi: </strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.sendDate | date:'dd/MM/yyyy'}}
                                    <br>
                                    <br>
                                    <strong>Ngày Nhận: </strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.receiveDate | date:'dd/MM/yyyy'}}
                                    <br>
                                    <br>
                                    <strong>Giờ Gửi : </strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.sendDate | date:'HH:mm:ss'}}
                                    <br>
                                    <br>
                                    <strong>Phương thức gửi: </strong>{{bolReview.deliveryType[bolReview.transactionVM.TransactionVM.BillOfLandingInfo.deliveryType.Id-1].Name}}
                                    <br>
                                    <br>
                                    <strong>Phụ phí/bảo hiểm: </strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.isGuarantee === true ? 'Có':'Không' }}
                                    <br>
                                    <br>
                                    <strong>Khấu trừ: </strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.isDiscount === true ? 'Có':'Không'}}
                                    <br>
                                    <br>
                                    <strong>Thu hộ: </strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.collectInBehalf===""? 'Không':bolReview.transactionVM.TransactionVM.BillOfLandingInfo.collectInBehalf}}đ
                                    <br>
                                    <br>
                                    <strong>Nơi Gửi:</strong> {{bolReview.transactionVM.TransactionVM.CustomerInfo.BolFromName.selected.Name}}
                                    <br>
                                    <br>
                                    <strong>Địa chỉ:</strong> {{bolReview.transactionVM.TransactionVM.CustomerInfo.BolFromName.selected.Address}}
                                    <br>
                                    <br>
                                    <strong>Nơi Nhận:</strong> {{bolReview.transactionVM.TransactionVM.CustomerInfo.BolToName.selected.Name}}
                                    <br>
                                    <br>
                                    <strong>Địa chỉ:</strong> {{bolReview.transactionVM.TransactionVM.CustomerInfo.BolToName.selected.Address}}
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <!-- end general information -->
                        </div>
                    </div>
                    <!-- end start customer information -->
                </div>
            </div>
            <!-- star order summary -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default height">
                        <!-- heading -->
                        <div class="panel-heading ">
                            <h2 class="text-center ">Chi Tiết Đơn Vận</h2>
                        </div>
                        <!-- body -->
                        <div class="panel-body">
                            <!-- start order details table  -->
                            <table class="table" st-table="smartTable">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 text-left ">Loại Đơn Hàng</th>
                                        <th class="col-md-1 text-left ">Số Lượng </th>
                                        <th class="col-md-1 text-left ">ĐVT</th>
                                        <th class="col-md-1 text-left ">Khối Lượng</th>
                                        <th class="col-md-1 text-center ">Ghi Chú</th>
                                        <th class="col-md-1 text-center ">Thành Tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in bolReview.transactionVM.TransactionVM.MerchandiseInfo ">
                                        <td>
                                            <label>{{item.merchandiseType.MerchandiseType1}}</label>
                                        </td>
                                        <td>
                                            <label>{{item.quantity |  currency : "" : 0}}</label>
                                        </td>
                                        <td>
                                            <label>{{item.type.CalculationUnit}}</label>
                                        </td>
                                        <td>
                                            <label>{{item.weight |  currency : "" : 0}}</label>
                                        </td>
                                        </td>
                                        <td class="text-center ">
                                            <label>{{item.description}}</label>
                                        </td>
                                        <td class="text-center ">
                                            <label>{{item.subTotal |  currency : "" : 0}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right ">
                                            <strong>Tổng Cộng: </strong>
                                        </td>
                                        <td class="text-center "><strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.total |  currency : "" : 0}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="border-top:none "></td>
                                        <td style="border-top:none "></td>
                                        <td style="border-top:none "></td>
                                        <td style="border-top:none "></td>

                                        <td class="text-right " style="border-top:none " ng-hide="bolReview.transactionVM.TransactionVM.BillOfLandingInfo.prepaid==''">
                                            <strong>Trả trước: </strong>
                                        </td>
                                        <td style="border-top:none " class="text-center " ng-hide="bolReview.transactionVM.TransactionVM.BillOfLandingInfo.prepaid==''"> <strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.prepaid |  currency : "" : 0}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="border-top:none "></td>
                                        <td style="border-top:none "></td>
                                        <td style="border-top:none "></td>
                                        <td style="border-top:none "></td>

                                        <td class="text-right " style="border-top:none " ng-hide="bolReview.transactionVM.TransactionVM.BillOfLandingInfo.liabilities == bolReview.transactionVM.TransactionVM.BillOfLandingInfo.total">
                                            <strong>Còn nợ: </strong>
                                        </td>
                                        <td style="border-top:none " class="text-center " ng-hide="bolReview.transactionVM.TransactionVM.BillOfLandingInfo.liabilities == bolReview.transactionVM.TransactionVM.BillOfLandingInfo.total"><strong>{{bolReview.transactionVM.TransactionVM.BillOfLandingInfo.liabilities |  currency : "" : 0}}</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <!-- end order details table -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end order summary -->
        </div>
        <!-- end bill of landing information -->
        <div>
            <button class="btn btn-primary pull-right" ng-click="bolReview.post('print-area')">Tạo Và In Biên Nhận</button>
        </div>
    </div>
</div>