<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block">
        <info-slideshow></info-slideshow>
    </div>
</div>

<div class="col-md-12" style="margin-top: 20px">
    <div class="col-md-12">
        <comp-info></comp-info>
    </div>
</div>

<div class="col-md-12" style="margin-top: 20px; background-color: #ff6600; padding: 50px 0 50px 0">
    <div class="col-md-12">
        <search-bol></search-bol>
    </div>
</div>

<div class="col-md-12" style="margin-top: 20px">
    <div class="col-md-12">
        <map-content></map-content>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-12">
        <comp-detail></comp-detail>
    </div>
</div>