<div class="col-lg-12" style="margin-top:100px">
    <table id="table-footer" style="width: 100%;" align="left">
        <tbody>
            <tr>
                <td>
                    <h3 style="text-align: center;">CTY CỔ PHẦN NGỌC TRANG TIÊU CỤC</h3>
                    <p style="text-align: center;">Trụ sở chính&nbsp;: 60 Đường 23/10 Phương Sơn - Nha Trang - Khánh Hòa</p>
                    <p style="text-align: center;">Điện thoại :&nbsp;<strong><span style="color: #ff0000;">02583.550 550 - 0903 13 85 95</span></strong></p>
                    <p style="text-align: center;"><strong><a href="he-thong-van-phong-dai-dien.html">Hệ thống VPGD - CN Ngọc Trang Logistics</a></strong></p>
                    <p style="text-align: center;">Địa chỉ :&nbsp;<span>275G Phạm Ngũ Lão - P. Phạm Ngũ Lão - &nbsp;Quận 1 - TP.HCM</span></p>
                    <p style="text-align: center;"><span>Điện thoại :&nbsp;<strong><span style="color: #ff0000;">028.3920.8545</span></strong>
                        </span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>