<div class="col-md-12 text-center">
    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service align-center">
            <div class="img center-block">
                <img class="main-img" src="assets/icons/info/airplane.svg">
            </div>
            <div class="info text-center">
                <p class="title wow animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Chuyển phát nhanh</a></p>
                <span>Là dịch vụ chuyển phát theo hình thức </span>giao tận nơi-nhận tận nơi</div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img center-block">
                <img class="main-img mx-auto d-block" src="assets/icons/info/clipboard-1.svg">
            </div>
            <div class="info text-center">
                <p class="title wow animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Chuyển phát COD</a></p>
                <span>Là dịch vụ thu hộ tiền hàng cho người gửi khi phát vận đơn cho người nhận</span></div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img center-block">
                <img class="main-img mx-auto d-block" src="assets/icons/info/delivery.svg">
            </div>
            <div class="info text-center">
                <p class="title wow animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Chuyển phát hẹn giờ</a></p>
                <span>Là dịch vụ thu hộ tiền hàng cho người gửi khi phát vận đơn cho người nhận</span></div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img center-block">
                <a href="/pages?id=44"> <img class="main-img" src="assets/icons/info/24-hours.svg"></a>
            </div>
            <div class="info">
                <p class="title wow fadeInLeft delay-06s  animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Chuyển phát trong ngày</a></p>
                <span>Là dịch vụ có thời gian nhận vận đơn và phát vận đơn trong cùng một ngày</span></div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img center-block">
                <a href="/pages?id=44"> <img class="main-img" src="assets/icons/info/delivery-1.svg"></a>
            </div>
            <div class="info">
                <p class="title wow fadeInLeft delay-06s  animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Chuyển phát tận tay</a></p>
                <span>Là dịch vụ có thời gian nhận vận đơn và phát vận đơn trong cùng một ngày</span></div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img center-block">
                <a href="/pages?id=44"> <img class="main-img" src="assets/icons/info/map-location.svg"></a>
            </div>
            <div class="info">
                <p class="title wow fadeInLeft delay-06s  animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Bảo tiêu khu vực</a></p>
                <span>Là dịch vụ có thời gian nhận vận đơn và phát vận đơn trong cùng một ngày</span></div>
        </div>
    </div>

    <!--<div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img">
                <a href="/pages?id=48"> <img class="main-img" src="assets/icon/info/delivery-box-on-a-hand"></a>
            </div>
            <div class="info">
                <p class="title wow fadeInLeft delay-06s  animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Phát tận tay</a></p>
                <span>Là dịch vụ mà 247Express chỉ được phát cho đúng người có họ tên được ghi trên phong bì và phiếu gửi</span></div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img">
                <a href="/pages?id=45"> <img class="main-img" src="assets/icons/info/delivery-time-tool.svg"></a>
            </div>
            <div class="info">
                <p class="title wow fadeInLeft delay-06s  animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Phát hẹn giờ</a></p>
                <span>Là dịch vụ người gửi yêu cầu phát vận đơn đúng một thời điểm cụ thể hoặc trước một thời điểm cụ thể nào đó</span></div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="item-service">
            <div class="img">
                <a href="/pages?id=47"> <img class="main-img" src="assets/icons/info/delivery-packing.svg"></a>
            </div>
            <div class="info">
                <p class="title wow fadeInLeft delay-06s  animated" style="visibility: visible; animation-name: fadeInLeft;"><a href="#">Đồng kiểm</a></p>
                <span>Là dịch vụ đồng kiểm tra nội dung bên trong vận đơn khi chấp nhận bưu gửi và khi phát bưu gửi.</span></div>
        </div>
    </div>-->
</div>