<div class="modal-content">
    <div class="modal-header">
        <div class="col-md-12">
            <h3>TẠO MỚI CHI NHÁNH</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3  control-label-modal bolHeader"><strong>Tên Chi Nhánh</strong></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon addon-left input-group-addon-primary custom-width"></span>
                                <input type="text" name="receiverPhone" class="form-control" ng-model="branchAddCtrl.branchInfo.branchName" placeholder="Nhập tên chi nhánh">
                            </div>
                        </div>
                        <span class="help-block error-block basic-block">Nhập tên chi nhánh</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label-modal bolHeader" tooltip-placement="top-left" uib-tooltip="Gồm chữ đầu tiên của khu vực.&nbsp Ví dụ: SQ1, STB (Quận 1, Quận Tân Bình)"><strong>Mã Chi Nhánh <i class="fa fa-question-circle fa-lg fa-primary" aria-hidden="true"></i></strong></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon addon-left input-group-addon-primary custom-width"></span>
                                <input type="text" name="receiverPhone" class="form-control" ng-model="branchAddCtrl.branchInfo.branchCode" placeholder="Nhập mã chi nhánh">
                            </div>
                        </div>
                        <span class="help-block error-block basic-block">Nhập số điện thoại người nhận</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label-modal bolHeader"><strong>Khu Vực</strong></label>
                        <div class="col-sm-9">
                            <div class="has-feedback" ng-class="{'has-error': locationCtrl.form.bolFrom.$invalid && (locationCtrl.form.bolFrom.$dirty || locationCtrl.form.$submitted)}">
                                <div class="input-group">
                                    <span class="input-group-addon addon-left input-group-addon-primary custom-width"></span>
                                    <ui-select ng-model="branchAddCtrl.locationInfo.selected" class="btn-group bootstrap-select form-control" style="z-index: 1050" name="bolFrom" ng-disabled="false" append-to-body="true" search-enabled="true" required>
                                        <ui-select-match placeholder="Chọn khu vực">
                                            {{$select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="area in branchAddCtrl.branchArea">
                                            <span ng-bind-html="area | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <span class="help-block error-block basic-block">Chọn nơi gửi</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label-modal bolHeader"><strong>Địa Chỉ</strong></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon addon-left input-group-addon-primary custom-width"></i></i></span>
                                <input type="text" name="receiverName" class="form-control" ng-model="branchAddCtrl.branchInfo.branchAddress" placeholder="Nhập địa chỉ chi nhánh">
                            </div>
                        </div>
                        <span class="help-block error-block basic-block">Nhập họ tên người nhận</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label-modal align-left bolHeader"><strong>Điện Thoại</strong></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon addon-left input-group-addon-primary custom-width"></span>
                                <input type="text" name="receiverName" class="form-control" ng-model="branchAddCtrl.branchInfo.branchPhone" placeholder="Nhập điện thoại chi nhánh">
                            </div>
                        </div>
                        <span class="help-block error-block basic-block">Nhập họ tên người nhận</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label-modal align-left bolHeader"><strong>Email</strong></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon addon-left input-group-addon-primary custom-width"></span>
                                <input type="text" name="receiverName" class="form-control" ng-model="branchAddCtrl.branchInfo.branchEmail" placeholder="Nhập email chi nhánh">
                            </div>
                        </div>
                        <span class="help-block error-block basic-block">Nhập họ tên người nhận</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-lg" ng-click="branchAddCtrl.branchCreate()"><i class="fa fa-plus-square fa-log fa-primary" aria-hidden="true"></i> Tạo</button>
        <button class="btn btn-primary btn-lg" ng-click="branchAddCtrl.cancel()"><i class="fa fa-minus-square fa-log fa-primary" aria-hidden="true"></i> Hủy</button>
    </div>
</div>