<div class="col-lg-12">
    <div class="col-lg-1">
        <a ui-sref="main" class="al-logo clearfix"><span> <img src="assets/logo/ntl_logo.png" class="image-top"></span></a>
    </div>
    <!-- <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a> -->
    <div class="col-lg-8 tabbable-style">
        <!--style="position:absolute; top: 19%; left: 12%"-->
        <tabbed-menu></tabbed-menu>
    </div>
    <div class="user-profile col-lg-1" ng-show="isLoggedIn">
        <div class="al-user-profile dropdown" uib-dropdown="">
            <span>Xin chào, {{employeeName}} </span>
            <a uib-dropdown-toggle="" class="profile-toggle-link dropdown-toggle" aria-haspopup="true" aria-expanded="false"><img ng-src="assets/img/theme/no-photo.png" src="assets/img/theme/no-photo.png"></a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li><i class="dropdown-arr "></i></li>
                <!--<li><a href="#/profile "><i class="fa fa-user "></i>Hồ Sơ</a></li>
                        <li><a href><i class="fa fa-cog "></i>Tùy Chỉnh</a></li>-->
                <li ng-click="pageTop.logOff()"><a href class="signout"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
            </ul>
        </div>
        <!--<msg-center></msg-center>-->
    </div>
</div>