<div class="horizontal-scroll">
    <div class="form-group col-md-6">
        <div class="col-md-5" style="width: 86px; padding-top:6px"><label>Tìm Kiếm </label></div>
        <div class="col-md-6"><input type="text" class="input-sm form-control search-input" placeholder="Nhập từ khóa tìm kiếm"></div>
    </div>
    <table class="table" st-table="smartTableData">
        <thead>
            <tr class="sortable ">
                <th class="table-id" st-sort="id" st-sort-default="true">Mã ĐH</th>
                <th st-sort="email">Người Gửi</th>
                <th st-sort="age">Người Nhận</th>
                <th st-sort="age">Gửi Đến</th>
                <th st-sort="firstName">Loại Hàng</th>
                <th st-sort="lastName">SL</th>
                <th st-sort="username">KL</th>
                <th st-sort="age" class="text-center">Trạng Thái</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <!--<tr>
                <th></th>
                <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search" />
            </tr>-->
        </thead>
        <tbody>
            <!--<tr ng-repeat="item in smartTableData">
                <td class="table-id">{{item.id}}</td>
                <td> <input type="checkbox" ng-model="product.selected" /></td>
                <td><span class="input-group-addon">{{createCtrl.selected[$index].CalculationUnit}}</span></td>
                <td>{{item.username}}</td>
                <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                <td>{{item.age}}</td>
            </tr>-->
            <tr>
                <td class="table-id" st-sort="id" st-sort-default="true" data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{('SG1201217NT151130' | limitTo: 7) + ('SG1201217NT151130'.length > 7 ? '...' : '')}} </td>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </div>
                <td st-sort="email">Nguyễn Thành Trung</td>
                <td st-sort="age">Phan Tiến Anh</td>
                <td st-sort="age">Nha Trang</td>
                <td st-sort="firstName">Hàng Đồng Giá 30k</td>
                <td st-sort="lastName">5</td>
                <td st-sort="username">10Kg</td>
                <td><button class="btn btn-sm btn-info">Đang kiểm hàng</button></td>
                <td><button class="status-button btn btn-sm btn-primary">Chi Tiết</button></td>
            </tr>
            <tr>
                <td class="table-id" st-sort="id" st-sort-default="true">{{('SG1201217NT151130' | limitTo: 7) + ('SG1201217NT151130'.length > 7 ? '...' : '')}} </td>
                <td st-sort="email">Nguyễn Thành Trung</td>
                <td st-sort="age">Phan Tiến Anh</td>
                <td st-sort="age">Nha Trang</td>
                <td st-sort="firstName">Hàng Đồng Giá 30k</td>
                <td st-sort="lastName">5</td>
                <td st-sort="username">10Kg</td>
                <td><button class="btn btn-sm btn-info">Đang kiểm hàng</button></td>
                <td><button class="status-button btn btn-sm btn-primary">Chi Tiết</button></td>
            </tr>
            <tr>
                <td class="table-id" st-sort="id" st-sort-default="true">{{('SG1201217NT151130' | limitTo: 7) + ('SG1201217NT151130'.length > 7 ? '...' : '')}} </td>
                <td st-sort="email">Nguyễn Thành Trung</td>
                <td st-sort="age">Phan Tiến Anh</td>
                <td st-sort="age">Nha Trang</td>
                <td st-sort="firstName">Hàng Đồng Giá 30k</td>
                <td st-sort="lastName">5</td>
                <td st-sort="username">10Kg</td>
                <td><button class="btn btn-sm btn-info">Đang kiểm hàng</button></td>
                <td><button class="status-button btn btn-sm btn-primary">Chi Tiết</button></td>
            </tr>
            <tr>
                <td class="table-id" st-sort="id" st-sort-default="true">{{('SG1201217NT151130' | limitTo: 7) + ('SG1201217NT151130'.length > 7 ? '...' : '')}} </td>
                <td st-sort="email">Nguyễn Thành Trung</td>
                <td st-sort="age">Phan Tiến Anh</td>
                <td st-sort="age">Nha Trang</td>
                <td st-sort="firstName">Hàng Đồng Giá 30k</td>
                <td st-sort="lastName">5</td>
                <td st-sort="username">10Kg</td>
                <td><button class="btn btn-sm btn-info">Đang kiểm hàng</button></td>
                <td><button class="status-button btn btn-sm btn-primary">Chi Tiết</button></td>
            </tr>
            <tr>
                <td class="table-id" st-sort="id" st-sort-default="true">{{('SG1201217NT151130' | limitTo: 7) + ('SG1201217NT151130'.length > 7 ? '...' : '')}} </td>
                <td st-sort="email">Nguyễn Thành Trung</td>
                <td st-sort="age">Phan Tiến Anh</td>
                <td st-sort="age">Nha Trang</td>
                <td st-sort="firstName">Hàng Đồng Giá 30k</td>
                <td st-sort="lastName">5</td>
                <td st-sort="username">10Kg</td>
                <td><button class="btn btn-sm btn-info">Đang kiểm hàng</button></td>
                <td><button class="status-button btn btn-sm btn-primary">Chi Tiết</button></td>
            </tr>
            <tr>
                <td class="table-id" st-sort="id" st-sort-default="true">{{('SG1201217NT151130' | limitTo: 7) + ('SG1201217NT151130'.length > 7 ? '...' : '')}} </td>
                <td st-sort="email">Nguyễn Thành Trung</td>
                <td st-sort="age">Phan Tiến Anh</td>
                <td st-sort="age">Nha Trang</td>
                <td st-sort="firstName">Hàng Đồng Giá 30k</td>
                <td st-sort="lastName">5</td>
                <td st-sort="username">10Kg</td>
                <td><button class="btn btn-sm btn-info">Đang kiểm hàng</button></td>
                <td><button class="status-button btn btn-sm btn-primary">Chi Tiết</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>