<ul class="timeline timeline-horizontal">
    <li class="timeline-item">
        <div class="timeline-badge"><img src="../assets/icons/received.png" class="icon-timeline" style=" margin-left: -4px;" /></div>
        <div class="timeline-body lable-timeline">Đã nhận hàng</div>
    </li>
    <li class="timeline-item">
        <div class="timeline-badge" style="background-color: #FF6603"><img src="../assets/icons/packaging.png" class="icon-timeline" /></div>
        <div class="timeline-body lable-timeline">Đang xếp hàng</div>
    </li>
    <li class="timeline-item">
        <div class="timeline-badge" style="background-color: #FF6603"><img src="../assets/icons/transporting.png" class="icon-timeline" style="margin-right: 2px; width: 35px;" /></div>
        <div class="timeline-body lable-timeline">Đang vận chuyển</div>
    </li>
    <li class="timeline-item">
        <div class="timeline-badge" style="background-color: #FF6603"><img src="../assets/icons/storage.png" class="icon-timeline" style="margin-right: 1px; width: 25px; height: 25px" /></div>
        <div class="timeline-body lable-timeline" style="left: 17px;">Đã tới kho</div>
    </li>
    <li class="timeline-item">
        <div class="timeline-badge" style="background-color:#339933"><img src="../assets/icons/releasing.png" class="icon-timeline" /></div>
        <div class="timeline-body lable-timeline">Đã giao hàng</div>
    </li>
</ul>