<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <!-- <div class="item active">
            <img src="assets/logo/log-ntl.jpg" style="min-width:1600px; min-height: 900px">
        </div> -->
        <!-- End Item -->
        <div class="item active">
            <img src="http://lorempixel.com/1600/900">
        </div>
        <!-- End Item -->
        <div class="item">
            <img src="http://lorempixel.com/1600/900">
        </div>
        <!-- End Item -->
    </div>
    <!-- End Carousel Inner -->
</div>
<!-- End Carousel -->