<div class="col-md-12">
    <div class="panel panel-primary height" ng-init="mainCtrl.getAllBol()">
        <!-- heading -->
        <div class="panel-heading ">
            <h2>Tổng Hợp Vận Đơn</h2>
        </div>
        <!-- body -->
        <div class="panel-body">
            <!-- button group -->
            <div class="add-row-editable-table col-md-12 pull-right">
                <div class="col-md-12">
                    <div class="col-md-7 pull-left">
                        <div class="row btns-row">
                            <div class="col-md-7 pull-left">
                                <div class="col-md-4" style="padding-top: 10px;">
                                    <label>Tìm kiếm: </label>
                                </div>
                                <!-- button search item -->
                                <div class="col-md-8">
                                    <input type="text" class="input-sm form-control search-input" ng-model="mainCtrl.searchQuery" placeholder="Nhập từ khóa tìm kiếm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row btns-row pull-right">
                            <!-- button add item -->
                            <div class="col-md-6">
                                <button type="button" ui-sref="location" class="btn btn-md btn-primary"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Thêm Vận Đơn</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" ui-sref="qr" class="btn btn-md btn-primary"><i class="fa fa-print fa-lg" aria-hidden="true"></i> In Báo Cáo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end button group -->
            <!-- table bill of landing details -->
            <div class="horizontal-scroll col-md-12">
                <!-- start smart table-->
                <table class="table" st-table="mainCtrl.bolDetails">
                    <thead>
                        <tr>
                            <!-- input title block -->
                            <th class="col-md-2 text-left bolHeaderView">Mã ĐH</th>
                            <th class="col-md-2 text-center bolHeaderView">Người Gửi</th>
                            <th class="col-md-2 text-center bolHeaderView">Người Nhận</th>
                            <th class="col-md-1 text-center bolHeaderView">SL</th>
                            <th class="col-md-1 text-left bolHeaderView">Tổng Cộng</th>
                            <th class="col-md-1 text-left bolHeaderView">Xác Nhận/In Tem</th>
                            <th class="col-md-1 text-left bolHeaderView">Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="detail in mainCtrl.bolDetails | searchFor: mainCtrl.searchQuery">
                        <!-- canvas form -->
                        <tr></tr>
                        <!-- primary table body components -->
                        <tr>
                            <!-- <td>{{(detail.TransactionVM.BillOfLandingInfo.BolCode.length > 7 ? '...' : '') + (detail.TransactionVM.BillOfLandingInfo.BolCode | limitTo: 6 : 15)}}</td> -->
                            <td class="text-left">{{detail.BolCode}}</td>
                            <td class="text-left">{{detail.CustomerInfo.SenderName}}</td>
                            <td class="text-left">{{detail.CustomerInfo.ReceiverName}}</td>
                            <td class="text-left">{{detail.Quantity}}</td>
                            <td class="text-left">{{detail.Total | currency: '':0}}đ</td>
                            <td>
                                <div class="row btn-rows">
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-md btn-primary"><i class="fa fa-check-square fa-lg"></i></button>
                                    </div>
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-md btn-primary" ng-click="mainCtrl.printStamps(detail.BolCode, detail.Quantity)"><i class="fa fa-print fa-lg"></i></button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="align-center">
                                    <button type="button" class="btn btn-xs btn-primary">Đang Kiểm hàng</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-center">
                                <div st-pagination="" st-items-by-page="4" st-displayed-pages="3"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- end smart table -->
            </div>
            <!-- end bill of landing details -->
        </div>
    </div>
    <!-- end bill of landing infomation -->
</div>