<form name="locationCtrl.form" ng-submit="locationCtrl.emitEvent(locationCtrl.form.$valid)" novalidate ng-init="mainCtrl.getAllComponent()">
    <div class="panel panel-primary height">
        <!-- <div class="panel-heading ">
            <h2>Chọn Nơi Giao Nhận</h2>
        </div> -->
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12 align-center">
                        <img src="assets/logo/ntl_logo.png" style="width: 300px; margin-left:40%">
                    </div>
                    <div class="col-md-12 text-center">
                        <span><h2>Cảm Ơn Quý Khách Đã Sử Dụng Dịch Vụ Của Ngọc Trang</h2></span>
                    </div>
                    <!-- <div class="col-md-12 text-center">
                        <span><h3>Xin vui lòng chọn</h3></span>
                    </div> -->
                    <div class="col-md-6 col-md-offset-3" style="margin-top: 60px">
                        <div class="input-group ">
                            <input type="text" class="form-control with-danger-addon" placeholder="Nhập mã đơn hàng cần tra cứu...">
                            <span class="input-group-btn datepicker">
                                <button class="btn search-button" type="button"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-5">
                    <div class="col-md-6">
                        <button class="btn btn-md btn-primary"><i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i> Tạo Mới Vận Đơn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>