<div class="modal-content height">
    <div class="modal-body">
        <div class="wrapper" id="test">
            <div class="print-stamp-content" ng-repeat="stampCode in stampViewCtrl.stampCode track by $index" style="page-break-inside: avoid">
                <div class="row stamp-info">
                    <div class="col-md-12 stamp-col">
                        <div class="col-md-7 stamp-code-50">
                            <h1>{{stampCode}}</h1>
                        </div>
                        <div class="col-md-7 stamp-code-50">
                            <h3>Giao Nhận: {{records.DeliveryType1.Name}}</h3>
                            <h3 ng-show="records.SendAddress !== null">Địa Chỉ: {{records.SendAddress}}</h3>
                            <h3 ng-show="records.ReceiveTime !== null">Giờ Giao: {{records.ReceiveTime | date: 'HH giờ MM'}}</h3>
                        </div>

                        <div class="col-md-5 qr-code modify-here" ng-show="$index==0">
                            <qr name="convert-here" class="pull-right convert-here" correction-level="'M'" size="100" text="stampCode"></qr>
                        </div>
                    </div>
                </div>
                </br>
                <div class="cut-here page-break">
                    <img src="assets/img/cut-here.png" style="width: 100%" />
                </div>
                </br>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-primary" ng-click="stampViewCtrl.print()"><i class="fa fa-print fa-lg"></i> In Tem</button>
        <button class="btn btn-lg btn-primary" ng-click="stampViewCtrl.cancel()"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>Hủy</button>

    </div>

</div>