<div class="modal-content">
    <div class="modal-header">
        <div class="col-md-12" style="margin-top:10px">
            <h3>Đăng Nhập</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="alert bg-danger" style="color: white; font-weight: bold;" ng-if="login.blankFields == true">Email/Mật khẩu không được bỏ trống.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="alert bg-danger" style="color: white; font-weight: bold;" ng-if="login.loginFailed == true">Email/Mật khẩu không đúng.<br/> Vui lòng nhập lại.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" name="receiverPhone" class="form-control" ng-model="login.username" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" name="receiverPhone" class="form-control" placeholder="Mật Khẩu" ng-model="login.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-auth" style="width: 100%" ng-click="login.login()">Đăng nhập</button>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <a href="/reg.html" class="forgot-pass">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>