<div class="auth-block1">
    <h1 style="font-weight: bold">Đăng Nhập Trang Quản Lý Ngọc Trang Tiêu Cục</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-model="login.username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Mật Khẩu</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Mật Khẩu" ng-model="login.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default btn-auth" style="background-color: transparent" ng-click="login.login()">Đăng nhập</button>
                <a href="/reg.html" class="forgot-pass">Quên mật khẩu?</a>
            </div>
        </div>
    </form>
</div>