.toast {
    background-color: $primary;
}

.toast-success {
    background-color: $success;
    opacity: 100%;
}

.toast-error {
    background-color: $danger;
    opacity: 100%;
}

.toast-info {
    background-color: $info;
}

.toast-warning {
    background-color: $toast-warning;
    opacity: 100%;
}

#toast-container.toast-top-full-width>div,
#toast-container.toast-bottom-full-width>div {
    margin: 5px auto;
}