<form name="personal.customerForm" novalidate>
    <!--start column sender-->
    <div class="col-md-6">
        <div class="panel panel-default height">
            <!--sender heading form-->
            <div class="panel-heading">
                <h2>Người Gửi</h2>
            </div>
            <!--sender body form-->
            <div class="panel-body">
                <!--input sender name-->
                <div class="form-group has-feedback" ng-class="{'has-error':personal.customerForm.senderName.$invalid && (personal.customerForm.senderName.$dirty || personal.customerForm.$submitted)}">
                    <label for="exampleUsername1"><span class="require">* </span>Họ Tên</label>
                    <input type="text" class="form-control" name="senderName" placeholder="Nhập Họ và Tên Người Gửi" ng-model="vm.customerInfoVM.senderName" required>
                    <span class="help-block error-block basic-block">Nhập họ tên người gửi</span>
                </div>
                <!--input sender phone-->
                <div class="form-group has-feedback" ng-class="{'has-error': personal.customerForm.senderPhone.$invalid && (personal.customerForm.senderPhone.$dirty || personal.customerForm.$submitted)}">
                    <label for="exampleInputEmail1"><span class="require">* </span>Số Điện Thoại</label>
                    <input type="text" class="form-control" name="senderPhone" placeholder="Nhập Số Điện Thoại Người Gửi" ng-model="vm.customerInfoVM.senderPhone" required>
                    <span class="help-block error-block basic-block">Nhập số điện thoại người gửi</span>
                </div>
                <!--dropdown send from-->
                <div class="form-group">
                    <label class="control-label"><span class="require">* </span>Gửi Từ:</label>
                    <!--Dropdown Gửi Từ-->
                    <div class="form-group has-feedback" ng-class="{'has-error': personal.customerForm.bolFrom.$invalid && (personal.customerForm.bolFrom.$dirty || personal.customerForm.$submitted)}">
                        <ui-select ng-model=" customerInfo.customerInfoVM.BolFromName.selected" class="btn-group bootstrap-select form-control" name="bolFrom" ng-disabled="false" append-to-body="true" search-enabled="true" required>
                            <ui-select-match placeholder="Chọn Nơi Gửi">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="branch in personal.branchInfoVM | groupSelectpickerOptions: {Name: $select.search}" group-by="'Description'">
                                <span ng-bind-html="branch.Name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block error-block basic-block">Chọn nơi gửi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end column sender-->

    <!--start column receiver-->
    <div class="col-md-6">
        <div class="panel panel-default height">
            <!--receiver heading form-->
            <div class="panel-heading">
                <h2>Người Nhận</h2>
            </div>
            <!--receiver body form-->
            <div class="panel-body">
                <!--input receiver name-->
                <div class="form-group has-feedback" ng-class="{'has-error':personal.customerForm.receiverName.$invalid && (personal.customerForm.receiverName.$dirty || personal.customerForm.$submitted)}">
                    <label for="exampleInputPassword1"><span class="require">* </span>Họ Tên</label>
                    <input type="text" class="form-control" name="receiverName" placeholder="Nhập Họ và Tên Người Nhận" ng-model="vm.customerInfoVM.receiverName" required>
                    <span class="help-block error-block basic-block">Nhập họ tên người nhận</span>
                </div>
                <!--input receiver phone-->
                <div class="form-group has-feedback" ng-class="{'has-error':personal.customerForm.receiverPhone.$invalid && (personal.customerForm.receiverPhone.$dirty || personal.customerForm.$submitted)}">
                    <label for="exampleInputConfirmPassword1"><span class="require">* </span>Số Điện Thoại</label>
                    <input type="text" class="form-control" name="receiverPhone" placeholder="Nhập Số Điện Thoại Người Nhận" ng-model="vm.customerInfoVM.receiverPhone" required>
                    <span class="help-block error-block basic-block">Nhập số điện thoại người nhận</span>
                </div>
                <!--dropdown send to -->
                <div class="form-group">
                    <label class="control-label"><span class="require">* </span>Gửi Đến:</label>
                    <!--Dropdown gửi từ-->
                    <div class="form-group has-feedback" ng-class="{'has-error': personal.customerForm.bolTo.$invalid && (personal.customerForm.bolTo.$dirty || personal.customerForm.$submitted)}">
                        <ui-select name="bolTo" ng-model="customerInfo.customerInfoVM.BolToName.selected" on-select="customerInfo.emitEvent()" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true" required>
                            <ui-select-match placeholder="Chọn Nơi Gửi">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="branch in personal.branchInfoVM | groupSelectpickerOptions: {Name: $select.search}" group-by="'Description'">
                                <span ng-bind-html="branch.Name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block error-block basic-block">Chọn nơi nhận</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end column receiver-->
</form>