<div class="col-md-12">
    <div class="panel panel-primary height" ng-init="locationAddCtrl.initLocationList()">
        <!-- heading -->
        <div class="panel-heading ">
            <h2>Danh Sách Chi Nhánh</h2>
        </div>
        <!-- body -->
        <div class="panel-body">
            <h1>In Progress...</h1>
            <!-- button group -->
            <div class="add-row-editable-table col-md-12">
                <div class="col-md-12">
                    <div class="col-md-6 pull-left">
                        <div class="col-md-7 pull-left">
                            <div class="col-md-4" style="padding-top: 10px;">
                                <label>Tìm kiếm: </label>
                            </div>
                            <!-- button search item -->
                            <div class="col-md-8">
                                <input type="text" class="input-sm form-control search-input" ng-model="locationAddCtrl.searchQuery" placeholder="Nhập từ khóa tìm kiếm">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row btns-row pull-right">
                            <!-- button add item -->
                            <div class="col-md-4">
                                <button type="button" ng-click="locationListCtrl.createLocation()" class="btn btn-md btn-primary"><span><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Thêm</span></button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-md btn-primary"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-md btn-primary" ng-click="locationAddCtrl.printStamps(detail.BolCode, detail.Quantity)"><i class="fa fa-trash fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end button group -->
            <!-- table bill of landing details -->
            <div class="horizontal-scroll col-md-12" ng-show="locationAddCtrl.bolDetails.length !== 0">
                <!-- start smart table-->
                <table class="table" st-table="locationAddCtrl.bolDetails">
                    <thead>
                        <tr>
                            <!-- input title block -->
                            <th>
                                <input type="checkbox" />
                            </th>
                            <th class="col-xs-2 text-left bolHeaderView">#</th>
                            <th class="col-md-1 text-center bolHeaderView">Tên</th>
                            <th class="col-md-1 text-center bolHeaderView">Mã Chi Nhánh</th>
                            <th class="col-md-1 text-center bolHeaderView">Khu Vực</th>
                            <th class="col-md-1 text-left bolHeaderView">Địa Chỉ</th>
                            <th class="col-md-1 text-left bolHeaderView">Điện Thoại</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="detail in locationAddCtrl.bolDetails | searchFor: locationAddCtrl.searchQuery">
                        <!-- canvas form -->
                        <tr></tr>
                        <!-- primary table body components -->
                        <tr>
                            <th>
                                <input type="checkbox" />
                            </th>
                            <td class="text-left">{{$index}}</td>
                            <td class="text-left">{{detail.CustomerInfo.SenderName}}</td>
                            <td class="text-left">{{detail.CustomerInfo.ReceiverName}}</td>
                            <td class="text-left">{{detail.Quantity}}</td>
                            <td class="text-left">{{detail.Total}}đ</td>
                            <td>
                                <div class="row btn-rows">
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-md btn-primary"><i class="fa fa-check-square fa-lg"></i></button>
                                    </div>
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-md btn-primary" ng-click="locationAddCtrl.printStamps(detail.BolCode, detail.Quantity)"><i class="fa fa-print fa-lg"></i></button>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1 text-left bolHeaderView">
                                <button type="button" class="btn btn-md btn-primary"><i class="fa fa-pencil-square-o fa-lg"></i></button>
                            </td>
                            <td class="col-md-1 text-left bolHeaderView">
                                <button type="button" class="btn btn-md btn-primary" ng-click="locationAddCtrl.printStamps(detail.BolCode, detail.Quantity)"><i class="fa fa-tráh fa-lg"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-center">
                                <div st-pagination="" st-items-by-page="4" st-displayed-pages="3"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- end smart table -->
            </div>
            <div ng-show="locationAddCtrl.bolDetails.length == 0">
                Không có Dữ liệu
            </div>
            <!-- end bill of landing details -->
        </div>
    </div>
    <!-- end bill of landing infomation -->
</div>